@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Open Sans'sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1440px;
    height: 3924px;
    background: #FFFFFF;
    color: #000;
}

div,
a,
p,
span {
    box-sizing: content-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    width: 1440px;
    height: 648px;
    top: 0px;
    background: #FAFAFA;
}

.img {
    position: absolute;
    width: 705px;
    height: 648px;
    left: 735px;
    top: 0px;
    background: url(image.png);
    background-size: cover;
}

.text1 {
    position: absolute;
    padding-top: 218px;
    height: 92px;
    width: 445px;
    font-family: Open Sans;
    font-size: 33px;
    font-style: bold;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.text2 {
    position: absolute;
    padding-top: 340px;
    height: 75px;
    width: 445px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: left;
    position: absolute;
}

.logo {
    position: absolute;
    padding-top: 40px;
}

.button {
    margin-top: 470px;
    height: 48px;
    width: 217px;
    border-radius: 100px;
    background: #FB4300;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.section_2 {
    height: 51.3466796875px;
    width: 728.2670288085938px;
    left: 356px;
    top: 708px;
    border-radius: 0px;
    position: absolute;
    background: #fff;
}

.section_3 {
    height: 668px;
    width: 1440px;
    left: 0px;
    top: 819px;
    position: absolute;
    background: #FAFAFA;
}

.text3 {
    height: 93px;
    width: 442px;
    margin-top: 54px;
    margin-left: 334px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
}