/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/inter-v3-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v3-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v3-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v3-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Open Sans'sans-serif;
    position: relative;
    width: 1440px;
    height: 3924px;
    background: #FFFFFF;
    color: #000;
}

.header {
    width: 1440px;
    height: 648px;
    top: 0px;
    background: #FAFAFA;
}

.img {
    height: 648px;
}

.logo {
    padding-top: 40px;
}

.text1 {
    padding-top: 140px;
    height: 92px;
    width: 445px;
    font-family: 'Open Sans';
    font-size: 33px;
    font-style: bold;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.text2 {
    padding-top: 122px;
    height: 75px;
    width: 445px;
    border-radius: nullpx;
    font-family: 'Open Sans';
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: left;
}

.bt {
    padding: 12px 26px 12px 26px;
    border-radius: 100px;
    background: #FB4300;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.btposition {
    padding-top: 118px;
}

.btposition2 {
    padding-top: 50px;
    text-align: center;
}

.section_2 {
    height: 171px;
    background: #fff;
}

.section_3 {
    height: 668px;
    width: 1440px;
    left: 0px;
    padding-top: 54px;
    background: #FAFAFA;
}

.text3 {
    height: 93px;
    width: 442px;
    border-radius: nullpx;
    font-family: 'Open Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
}

.text4 {
    padding-top: 150px;
    padding-bottom: 22px;
    width: 307px;
    font-family: 'Open Sans';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.text5 {
    font-family: 'Open Sans';
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
}

li {
    list-style-type: disc;
    color: #FB4300;
}

li span {
    color: #000;
}