/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/inter-v3-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v3-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v3-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v3-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media (max-width: 580px) {


    body {
        font-family: 'Open Sans'sans-serif;
        position: relative;
        width: 100%;
        height: 3930px;
        background: #FFFFFF;
        color: #000;
    }

    .container {
        padding: 0px 40px 0 40px;
    }

    header {
        height: 648px;
        top: 0px;
        background: #FAFAFA;
        padding: 40px 0 0 0;
    }

    .logo {
        max-width: 153px;
        width: 153px;
        height: auto;
        margin-bottom: 92px;
    }

    .text1 {
        font-family: 'Open Sans';
        height: 107px;
        max-width: 289px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
    }

    .text2 {
        height: 75px;
        max-width: 289px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.03em;
        text-align: left;
        padding-top: 18px;
    }

    .bt {
        padding: 12px 26px 12px 26px;
        border-radius: 100px;
        background: #FB4300;
        color: #fff;
        font-family: Inter;
        font-size: 14px;
        font-style: bold;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-decoration: none;
    }

    .bt:hover {
        color: #e2e0e0;
    }

    .btposition {
        padding-top: 118px;
        margin-bottom: 48px;
    }

    .header-img {
        height: 345px;
        width: 375px;
        background-image: url(/img/image_header.png);
        background-position: center center;
        background-size: cover;
        bottom: 0;
        margin-left: -40px;
    }

    .section_2 {
        padding-top: 250px;
    }

    .swiper-container {
        height: 129px;
        width: 300px;
        margin-left: 0px;
    }

    .swiper-wrapper {
        padding-left: -40px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        object-fit: cover;
    }


    .section_3 {
        height: 1162px;
        background: #FAFAFA;
    }

    .text3 {
        padding: 40px 0 103px 0;
        height: 93px;
        width: 290px;
        font-family: 'Open Sans';
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }

    .icon {
        padding: 50px 0 25px 0;

    }

    .text4 {
        width: 290px;
        font-family: 'Open Sans';
        font-size: 19px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 22px;
    }

    .text5 {
        width: 270px;
        font-family: 'Open Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    li {
        list-style-type: disc;
        color: #FB4300;
    }

    li span {
        color: #000;
    }

    .btposition2 {
        padding-top: 35px;
        text-align: left;
    }

    .section_4 {
        height: 771px;
        padding-top: 46px;
    }

    .text6 {
        height: 62px;
        width: 290px;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        padding: 54px 0 35px 0;
    }

    .text7 {
        width: 290px;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.03em;
        text-align: left;
        padding: 54px 0 35px 0;
    }

    .img_section_4 {
        height: 229px;
        width: 274px;
        display: block;
        float: none;
    }

    .invers {
        flex-direction: column-reverse;
    }

    .section_5 {
        height: 604px;
        padding-top: 54px;
        display: block;
        background: #FAFAFA;
    }

    .section_5-1 {
        width: 290px;
        height: 285px;
        padding: 0;
        background: #FFF;
    }

    .img_section_5 {
        height: 212px;
        width: 290px;
        border-radius: 10px 10px 0 0;
        margin: 0;
    }

    .text8 {
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .text8 {
        margin: 0 15px 0 15px;
        padding-top: 15px;
    }

    .text9,
    .text9-1 {
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        width: 260px;
        margin: 0 15px 0 15px;
    }

    .text10 {
        font-family: 'Open Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        width: 254px;
        height: 92px;
        margin: 0 15px 0 15px;
    }

    .line {
        margin: 36px 12px 0 15px;
        width: 22px;
        height: 0px;
        border: 3px solid #FB4300;
        display: inline-block;
    }

    .section_6 {
        height: 790px;
        display: block;
    }

    .img_section_6-1 {
        padding-top: 33px;
        padding-bottom: 0px;
        width: 86px;
    }

    .img_section_6-2 {
        padding-top: 28px;
        width: 132px;
    }

    .text12-mob {
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: -25px;
    }

    .text14 {
        padding-top: 29px;
        width: 290px;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }

    .section_7 {
        height: 557px;
        color: #fff;
        background: #FB4300;
    }

    .text15 {
        padding-top: 24px;
        height: 99px;
        width: 287px;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;
    }

    .text16 {
        padding-top: 30px;
        width: 290px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
    }

    .calendly-inline-widget {
        position: relative;
        width: 375px;
        height: 695px;
        padding: 25px;
    }

    .footer {
        height: 498px;
    }

    .img_footer {
        padding-top: 350px;
        width: 290px;
        text-align: center;
    }
    
    .text_footer {
        width: 290px;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        padding: 26px 0 0 0;
    }
    
}

@media (min-width: 580px) {

    body {
        font-family: 'Open Sans'sans-serif;
        position: relative;
        width: 1440px;
        height: 3930px;
        background: #FFFFFF;
        color: #000;
    }

    .container {
        padding: 0px 40px 0 40px;
        max-width: 1170px;
    }

    header {
        height: 648px;
        max-width: 1440px;
        top: 0px;
        background: #FAFAFA;
    }

    .header-img {
        height: 648px;
        width: 705px;
        background-image: url(/img/image_header.png);
        background-position: center center;
        background-size: cover;
    }

    .wrapper {
        display: flex;
    }

    .logo {
        padding-top: 40px;
    }

    .text1 {
        padding-top: 140px;
        height: 92px;
        width: 445px;
        font-family: 'Open Sans';
        font-size: 33px;
        font-style: bold;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
    }

    .text2 {
        padding-top: 122px;
        height: 75px;
        width: 445px;
        border-radius: nullpx;
        font-family: 'Open Sans';
        font-size: 23px;
        font-style: normal;
        font-weight: 300;
        line-height: 44px;
        letter-spacing: 0.03em;
        text-align: left;
    }

    .bt {
        padding: 12px 26px 12px 26px;
        border-radius: 100px;
        background: #FB4300;
        color: #fff;
        font-family: Inter;
        font-size: 14px;
        font-style: bold;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-decoration: none;
    }

    .bt:hover {
        color: #e2e0e0;
    }

    .btposition {
        padding-top: 118px;
    }

    .btposition2 {
        padding-top: 50px;
        text-align: center;
    }

    .section_2 {
        height: 171px;
        background: #fff;

        display: flex !important;
        align-items: center;
        justify-content: center;

    }

    .swiper-container {
        /* width: 375px; */
        height: 171px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        object-fit: cover;
    }

    .section_3 {
        height: 668px;
        width: 100%;
        left: 0px;
        padding-top: 54px;
        background: #FAFAFA;
    }

    .icon {
        padding-top: 90px;
    }

    .text3 {
        height: 93px;
        width: 442px;
        border-radius: nullpx;
        font-family: 'Open Sans';
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0em;
        margin: auto;
    }

    .text4 {
        padding-top: 20px;
        padding-bottom: 22px;
        width: 307px;
        font-family: 'Open Sans';
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }

    .text5 {
        font-family: 'Open Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.01em;
        text-align: left;
        line-height: 1.8;
    }

    li {
        list-style-type: disc;
        color: #FB4300;
    }

    li span {
        color: #000;
    }

    .section_4 {
        height: 593px;
        width: 1440px;
        padding-top: 88px;
        background: #fff;
    }

    .text6 {
        height: 93px;
        width: 442px;
        padding-top: 32px;
        border-radius: nullpx;
        font-family: 'Open Sans';
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0em;
    }

    .text7 {
        padding-top: 88px;
        height: 219px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0.03em;
        text-align: left;
        line-height: 1.8;
    }

    .img_section_4 {
        width: 500px;
        height: 417px;
        float: right;
        display: flex;
    }

    .section_5 {
        padding-top: 88px;
        width: 1440px;
        height: 543px;
        background: #FAFAFA;
    }

    .box {
        background: #fff;
    }

    .img_section_5 {
        height: 380px;
        width: 523px;
        float: left;
        border-radius: 10px 0 0 10px;
        background-color: #fff;
        margin-left: 45px
    }

    .section_5-1 {
        background: #fff;
        border-radius: 0 10px 10px 0;
        width: 500px;
        height: 380px;
        padding-left: 64px;
    }

    .text8 {
        padding-top: 38px;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #959595;
    }

    .text9 {
        padding-top: 29px;
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #FB4300;
    }

    .text9-1 {
        font-family: 'Open Sans';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }

    .text10 {
        width: 326px;
        height: 92px;
        padding-top: 14px;
        padding-bottom: 60px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #585858;
    }

    .line {
        margin-top: 60px;
        width: 22px;
        height: 0px;
        border: 3px solid #FB4300;
        display: inline-block;
    }

    .text11 {
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #585858;
        display: inline-block;
        padding-left: 12px;
        text-decoration: none;
    }

    .text11:hover {
        color: #e2e0e0;
    }

    .img_section_6-1 {
        padding-top: 60px;
        padding-bottom: 34px;
        width: 86px;
    }

    .img_section_6-2 {
        padding-top: 48px;
        width: 132px;
    }

    .section_6 {
        height: 386px;
    }

    .text12 {
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    .text13 {
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    .text14 {
        padding-top: 88px;
        width: 272px;
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .section_7 {
        height: 500px;
        color: #fff;
        background: #FB4300;
    }

    .text15 {
        padding-top: 60px;
        font-family: 'Open Sans';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        text-align: center;
    }

    .text16 {
        padding-top: 20px;
        font-family: 'Open Sans';
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
    }

    .img_footer {
        padding-top: 342px;
    }

    .text_footer {
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 360px;
    }

    .calendly-inline-widget {
        padding-top: 20px;
        min-width: 290px;
        height: 690px;
    }

}