/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/inter-v3-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v3-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v3-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v3-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Open Sans'sans-serif;
    position: relative;
    width: 1440px;
    height: 3930px;
    background: #FFFFFF;
    color: #000;
}

.container {
    max-width: 1170px;
}

.header {
    height: 648px;
    top: 0px;
    background: #FAFAFA;
}

.img {
    height: 648px;
    max-width: 705px;
    display: flex;
}

.logo {
    padding-top: 40px;
}

.text1 {
    padding-top: 140px;
    height: 92px;
    width: 445px;
    font-family: 'Open Sans';
    font-size: 33px;
    font-style: bold;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.text2 {
    padding-top: 122px;
    height: 75px;
    width: 445px;
    border-radius: nullpx;
    font-family: 'Open Sans';
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: left;
}

.bt {
    padding: 12px 26px 12px 26px;
    border-radius: 100px;
    background: #FB4300;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.bt:hover {
    color: #e2e0e0;
}

.btposition {
    padding-top: 118px;
}

.btposition2 {
    padding-top: 50px;
    text-align: center;
}

.section_2 {
    height: 171px;
    background: #fff;
}

.group532 {
    padding-top: 50px;
    text-align: center;
}

.section_3 {
    height: 668px;
    width: 1440px;
    left: 0px;
    padding-top: 54px;
    background: #FAFAFA;
}

.icon {
    padding-top: 90px;
}

.text3 {
    height: 93px;
    width: 442px;
    border-radius: nullpx;
    font-family: 'Open Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
}

.text4 {
    padding-top: 20px;
    padding-bottom: 22px;
    width: 307px;
    font-family: 'Open Sans';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.text5 {
    font-family: 'Open Sans';
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    line-height: 1.8;
}

li {
    list-style-type: disc;
    color: #FB4300;
}

li span {
    color: #000;
}

.section_4 {
    height: 593px;
    width: 1440px;
    padding-top: 88px;
    background: #fff;
}

.text6 {
    height: 93px;
    width: 442px;
    padding-top: 32px;
    border-radius: nullpx;
    font-family: 'Open Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
}

.text7 {
    padding-top: 88px;
    height: 219px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.8;
}

.img_section_4 {
    width: 500px;
    height: 417px;
    float: right;
    display: flex;
}

.section_5 {
    padding-top: 88px;
    width: 1440px;
    height: 543px;
    background: #FAFAFA;
}

.box {
    background: #fff;
}

.img_section_5 {
    height: 380px;
    width: 523px;
    float: left;
}

.section_5-1 {
    background: #fff;
    border-radius: 10px;
}

.text8 {
    padding-top: 38px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #959595;
}

.text9 {
    padding-top: 29px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB4300;
}

.text9-1 {
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.text10 {
    width: 326px;
    height: 92px;
    padding-top: 14px;
    padding-bottom: 60px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #585858;
}

.line {
    margin-top: 60px;
    width: 22px;
    height: 0px;
    border: 3px solid #FB4300;
    display: inline-block;
}

.text11 {
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #585858;
    display: inline-block;
    padding-left: 12px;
    text-decoration: none;
}

.text11:hover {
    color: #e2e0e0;
}

.img_section_6-1 {
    padding-top: 60px;
    padding-bottom: 34px;
    width: 86px;
}

.img_section_6-2 {
    padding-top: 48px;
    width: 132px;
}

.section_6 {
    height: 386px;
}

.text12 {
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.text13 {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.text14 {
    padding-top: 88px;
    width: 272px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.section_7 {
    height: 500px;
    color: #fff;
    background: #FB4300;
}

.text15 {
    padding-top: 60px;
    font-family: 'Open Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
}

.text16 {
    padding-top: 20px;
    font-family: 'Open Sans';
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

.img_footer {
    padding-top: 342px;

}

.text_footer {
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 360px;
}

@media (max-width: 1170px) {

    
}